<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
   id="com.florianingerl.javacodedcompletionproposals.javacodedtemplatecompletionproposalcomputer"
   name="javacodedtemplatecompletionproposalcomputer">
   <javaCompletionProposalComputer
      class="com.florianingerl.javacodedcompletionproposals.JavaCodedTemplateCompletionProposalComputer"
      activate="true">
      
   </javaCompletionProposalComputer>
 </extension>
 
  <extension
      point = "org.eclipse.ui.preferencePages">
       <page id="com.florianingerl.javacodedcompletionproposals.javacodedtemplatepreferencepage"
	    class="com.florianingerl.javacodedcompletionproposals.preferencepages.JavaCodedTemplatePreferencePage"
            name="Java-coded templates"
            category="org.eclipse.jdt.ui.preferences.JavaEditorPreferencePage"
            >
       </page>
   </extension>
   

</plugin>
